<% if (theme.gitment){ %>
<section class="comments" id="comments">
    <div id="gitment_thread"></div>
    <link rel="stylesheet" href="//unpkg.com/gitment/style/default.css">
    <script src="//unpkg.com/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: '<%= page.title %>',
            owner: 'YMBo',
            repo: 'YMBo.github.io',
            oauth: {
                client_id: '7f9179fe457b750c95b0',
                client_secret: 'e4f5f301175b07da42da04cebfb6d198fcd4f229',
            },
        })
        /*alert(<%- theme.gitment.owner %>)
        alert(<%- theme.gitment.client_id %>)
        alert(<%- theme.gitment.client_secret %>)*/
        gitment.render('comments')
    </script>
</section>
<% } %>
