<% if (theme.uyan_uid){ %>
<section class="comments" id="comments">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script src="js/uyan.js?uid=<%- theme.uyan_uid %>"></script>
    <!-- UY END -->
</section>
<% } %>
